@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');

*{
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 195px 140px 170px ;
}

header h1{
    display: none;
}

header nav ul{
    display: flex;
    list-style-type: none;
    font-weight: 500;
    width: 400px;
    justify-content: space-between;
    color: #242E52;
    
}

header nav ul a{
    text-decoration: none;
}

header nav ul a:visited{
    text-decoration: none;
    color: #242E52;
}

.description-figures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 140px 170px ;
}

.description{
    padding-right: 80px;
}

.description-figures div h2 {
font-weight: 700;
font-size: 58px;
line-height: 66,47px;
color: #232C50;

}
.description-figures div p {
    font-weight: 500;
    font-size: 16.56px;
    width: 330px;
}

.Get-Started-Button {
    font-weight: 500;
    width: 130px;
    font-size: 13,18px;
    color: white;
    background-color:#F3603B ;
    border-radius: 50px;
    padding: 10px;
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor:pointer;
}

.description-articles{
    display: flex;
    justify-content: space-between;
    padding: 0px 90px 140px 170px ;
}

h3 {
    color: #232851;
    font-weight: 700;
    font-size: 36px;
    line-height: 41.26px;
}

.differences-description{
    padding-right: 50px;
}

.differences-description h3 {
   width: 500px;
}

.differences-description p {
    font-family: 500;
    font-size: 16.56px;
    width: 360px;
}

.differences-articles-list{
    padding-right: 80px;
}

.differences-articles-list article h4{
    color: #323851;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.38px;
}

.first-article h4::before{
    content: "01";
    padding: 10px 25px;
    color: white;
    background-color:#F3603B ;
    border-radius: 40px;
    margin-right: 20px;
}
.second-article h4::before{
    content: "02";
    padding: 10px 25px;
    color: white;
    background-color:#F3603B ;
    border-radius: 40px;
    margin-right: 20px;
}
.third-article h4::before{
    content: "03";
    padding: 10px 25px;
    color: white;
    background-color:#F3603B ;
    border-radius: 40px;
    margin-right: 20px;
}



.differences-articles-list article p{
    color: #B3B2B7;
    font-size: 16.3px;
    font-weight: 500;
    line-height: 25.52px;
    padding-left: 90px;
   
}

.testimonials{
    padding-bottom: 260px;
}

.testimonials h3{
    font-size: 39.21px;
    text-align: center;
}

.three-testimonials{
    display: flex;
    padding-top: 150px ;
    justify-content: center;

}

.testimonials div article{
    background-color:#FAFAFA;
    width: 450px;
    padding:50px 20px 20px 20px;
    position: relative;
    
}

.testimonials div article img{
   width: 70px;
   height: 70px;
   position: absolute;
   right: 180px;
   top: -41px;
}

.testimonials div article span{
   font-weight: 700;
   font-size: 16.07px;
   line-height: 25.17px;
   text-align: center;
   color: #3F4868;
   padding-left: 180px;
}

.testimonials div article p{
   font-weight: 500;
   font-size: 16px;
   line-height: 25.06px;
   text-align: center;
   color: #B9B9C1;
   
}

.testimonials button{ 
   margin-left: 45vw;
   margin-top: 50px;
   
}

.orange-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3613C;
    height: 224px;
    padding: 100px 140px 100px 140px ;
}

.orange-bar h3{
    color: white;
    width: 438px ;
    font-size: 40px;
    line-height: 47.84px;
}

.Get-Started-Button.bottom{
    background-color: white;
    color:#F3603B ;
}

footer{
    display:flex;
    justify-content: space-between;
    align-items: top;
    background-color: #1E1E26;
    color: white;
    height: 247px;
    font-size: 16px;
    font-weight: 400;
    padding: 70px 140px 0px 140px ;
}

footer img{
    margin-top: 15px;
}

.media-logos{
    margin-top: 50px;
   
}

.media-logos a i {
    color: white;
    width: 30px;
    height: 30px;

}

footer ul{
    list-style-type: none;
    line-height: 35.38px;

}

footer form input[type="email"]{
    border-radius: 50px;
    width: 201px;
    height: 44px;
    color: #A0A0A0;
    padding-left: 10px;
}

footer form input[type="submit"]{
    font-weight: 500;
    width: 50px;
    font-size: 13,18px;
    color: white;
    background-color:#F3603B ;
    border-radius: 20px;
    padding: 12px;
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    cursor:pointer;
} 

.form {
  position: relative;
}

.form p{
    position: absolute;
    left: 26px;
    top: 120px;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
}